<!-- footer -->
<footer>
    <div class="text-white self-footer">

        <div class="p-5">

            <div class="row" style="text-align: center;">

                <div class="col-sm-2 p-1">

                </div>

                <div class="col-sm-4 p-1">
                    <!-- information -->
                    <div class="text-titulo" >
                        <h2><strong> Contacte con nosotros </strong></h2>
                    </div>

                    <div>
                        <p> <mat-icon> map</mat-icon> Bucaramanga - Colombia Carrera 27 calle 9</p>
                        <p> <mat-icon>business</mat-icon> Edf. Jorge Bautista Vesga</p>
                        <p> <mat-icon> call</mat-icon> (+57) 6344000 Ext. 2360</p>
                        <p> <mat-icon>alternate_email</mat-icon> secregeo@uis.edu.co</p>
                    </div>

                </div>

                <div class="col-sm-4 p-1">
                    <!-- links -->
                    <div class="text-titulo">
                        <h2><strong> Nuestra comunidad </strong></h2>
                    </div>

                    <div>
                        <p><a class="no-link" href="https://www.facebook.com/geologiaUIS/"> <i class='fa fa-facebook'></i> Facebook</a></p>
                        <p><a class="no-link" href="https://www.youtube.com/user/uisvideo"><p> <i class='fa fa-youtube'></i> Youtube</a></p>
                        <p><a class="no-link" href="https://instagram.com/geologiauis?igshid=z34k21g9idb9"><p> <i class='fa fa-instagram'></i> Instagram</a></p>
                        <p><a class="no-link" href="http://geologia.uis.edu.co/"><p>  <i class='fa fa-globe'></i> Escuela Geologia UIS</a></p>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="separador">
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Copyright &copy; <span>{{fecha}}</span> | Desarrollado por: Hollman González y Jorge Burgos |
                        Todos los
                        derechos reservados
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>