<div class="text-white self-footer">

    <div class="p-5">

        <div class="row">

            <div class="col-sm-5 p-1">

                <div class="text-titulo">
                    <p>Acerca de</p>
                </div>

                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rerum quidem libero aliquam
                        placeat sit aspernatur recusandae, cupiditate deserunt, qui suscipit molestiae modi eos illo
                        omnis sed pariatur laudantium? Nam?</p>
                </div>

            </div>

            <div class="col-sm-3 p-1">

                <div class="text-titulo">
                    <p>Enlaces</p>
                </div>

                <div>
                    <p>Terminos y condiciones</p>
                    <p>Politica de privacidad</p>
                    <p>Código de conducta</p>
                </div>

            </div>

            <div class="col-sm-2 p-1">

                <div class="text-titulo">
                    <p>Redes</p>
                </div>

                <div>
                    <p>Facebook</p>
                    <p>Twitter</p>
                    <p>Instagram</p>
                </div>

            </div>

            <div class="col-sm-2 p-1">

                <div class="text-titulo">
                    <p>Contactanos</p>
                </div>

                <div>
                    <p>(+057) 3184320163</p>
                </div>
                
            </div>

        </div>
        <div class="row">
            <div class="separador">
                <p>
                    &nbsp;
                </p>
                <p>
                    Copyright &copy; <span>{{fecha}}</span> | Desarrollado por: Hollman González y Jorge Burgos | Todos los
                    derechos reservados
                </p>
            </div>
        </div>
        
    </div>
</div>