.carousel-item img{
    object-fit: fill;
}

.imagenes{
    padding: 5rem;
    padding-top: 0%;
    padding-bottom: 2rem;
    width: auto; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

.textMain{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
    text-align: justify;
}

.titulos{
    text-align: center;
}