<!-- Carousel for images -->
<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active" style="height:fit-content;">
            <img src="../../../assets/images/Principal0.png" class="d-block w-100" alt="primera imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Principal1.png" class="d-block w-100" alt="primera imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Principal2.png" class="d-block w-100" alt="segunda imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Principal3.png" class="d-block w-100" alt="tercera imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
<br>
<br>
<!-- block of text and images main screen -->
<div class="col">
    <h1 class="titulos"><strong>¿Quiénes somos?</strong></h1>
    <div class="row textMain">
        <h2>La Escuela de Geologia adscrita a la Facultad de Ingenierías Fisicoquímicas de la Universidad
            Industrial de Santander ubicada en el edificio Jorge Bautista Vesga de la sede Central en Bucaramanga,
            cuenta con una litoteca la cual almacena una gran cantidad de muestras rocosas que son recolectadas y
            preservadas
            para fines academicos e investigativos por parte de profesores, investigadores y y estudiantes.
        </h2>
        <h2>Nuestra escuela cuenta con el apoyo de su personal docente de planta y de cátedra con altos niveles de
            escolaridad. Partiendo desde la perspectiva de la Universidad frente a la sociedad, la Escuela de Geología
            da respuesta a los retos y necesidades del país a partir de sus tres ejes misionales de docencia,
            investigación y extensión.
        </h2>
        <br>
        <br>
    </div>

    <div class="row imagenes">
        <img src="../../../assets/images/Main1.png" alt="Litoteca">
    </div>
    <br>
    <div class="row textMain">
        <h2>
            Actualmente, nuestros egresados, vinculados con entidades estatales y privadas, hacen presencia en diversos
            sectores productivos del país, aportando a la construcción de una comunidad de geocientíficos y reflejando
            nuestra pujanza, creatividad y deseo de aportar al desarrollo y la construcción de un mundo mejor. Nuestro
            deseo es alcanzar estándares de calidad cada vez más altos y de acuerdo a las necesidades de la sociedad y
            de la industria moderna.
        </h2>
        <h2>La Escuela de Geología lleva a cabo la generación y transferencia de conocimiento con el fin de comprender
            el origen y la evolución de la Tierra razonándola como un sistema abierto y constituida por subsistemas que
            producen materia y energía todo lo cual se caracteriza conformando recursos naturales que pueden ser
            aprovechados racional y armónicamente con el medio ambiente, con el propósito de mejorar la calidad de vida
            de la sociedad.
        </h2>
        <br>
        <br>
    </div>

    <div class="row imagenes">
        <img src="../../../assets/images/Main2.png" alt="Litoteca">
    </div>

    <br>
    <br>
</div>