<div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/Principal0.png" class="d-block w-100" alt="primera imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Principal1.png" class="d-block w-100" alt="primera imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Principal2.png" class="d-block w-100" alt="segunda imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Principal3.png" class="d-block w-100" alt="tercera imagen">
            <div class="carousel-caption text-white">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
<br>


<h1 style="text-align: center;" color="accent"><strong> Nuestra Escuela</strong></h1>

<h2><strong>Quienes Somos</strong></h2>
<p style="text-align: justify;">
    La Escuela de Geología es una unidad con autonomía académica y administrativa adscrita a la Facultad de Ingenierías
    Fisicoquímicas
    de la Universidad Industrial de Santander. En sintonía con la Misión Institucional, la Escuela de Geología tiene
    como propósito
    fundamental la formación integral de personas que actúen según principios éticos universalmente aceptados, de alta
    calidad
    ciudadana y comprometidos con el desarrollo regional y nacional, así como la generación y transferencia del
    conocimiento en el
    campo de las geociencias, fomentando la interacción con el medio externo para contribuir al mejoramiento de la
    calidad de vida
    de la sociedad. Nuestra escuela cuenta con el apoyo de su personal docente de planta y de cátedra con altos niveles
    de escolaridad.
    Partiendo desde la perspectiva de la Universidad frente a la sociedad, la Escuela de Geología da respuesta a los
    retos y necesidades
    del país a partir de sus tres ejes misionales de docencia, investigación y extensión. Para dar cumplimiento a lo
    anterior, la
    Escuela de Geología ofrece a la comunidad académica los programas de Pregrado en Geología, y Maestría en Geología
    (investigación)
    y Maestría en Geofisica (investigación).
</p>