<h1> {{( muestra.id_muestra)? 'Editar' : 'Nueva'}} Muestra</h1>
<h1> {{muestra.nombre}} </h1>
<!-- Primer bloque, columna izquierda-->
<div fxLayout="row" fxLayoutGap="40px" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column" *ngIf="muestra.id_muestra">
        
        <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="colum" fxLayoutGap="20px" fxFlex="60">
                <div fxLayout="row">
                    <button mat-raised-button color="primary" (click)="agregar()">
                        <mat-icon>add</mat-icon>
                        Añadir imagenes
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxFlex="40" *ngIf="!disponible">
                <div fxLayout="row" fxLayoutGap="30px" style="justify-content: flex-end">
                    <button mat-raised-button color="primary" (click)="Devolver()">
                        <mat-icon>settings_backup_restore</mat-icon>
                        Devolver prestamo
                    </button>
                </div>
            </div >
        </div>
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="5px" style="margin-top: 2%;" *ngIf="muestra.id_muestra">
            <div *ngFor="let foto of fotos" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="35">
                <app-foto-tarjeta [Foto]="foto"></app-foto-tarjeta>
            </div>          
        </div>
    </div>
<!-- Segundo bloque, columna derecha -->
    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" required [(ngModel)]="muestra.nombre">
            </mat-form-field>

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Edad</mat-label>
                <input matInput type="number" required [(ngModel)]="muestra.edad">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Tipo de roca</mat-label>
                <mat-select [(ngModel)]="muestra.id_tipo_muestra" placeholder="Tipo de muestra" required>

                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let tipo of tiposMuestra" [value]="tipo.id_tipo_muestra">
                        {{tipo.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Codigo</mat-label>
                <input matInput type="text" [(ngModel)]="muestra.codigo" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Mineralogia</mat-label>
                <input matInput type="text" [(ngModel)]="muestra.mineralogia" required>
            </mat-form-field>

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Formacion</mat-label>
                <input matInput type="text" [(ngModel)]="muestra.formacion" required>
            </mat-form-field>

        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

            <mat-form-field fxFlex="100" aria-required="true">
                <mat-label>Fecha de recolección</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="muestra.fecha_recoleccion" required>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="100" aria-required="true">
                <mat-label>Fecha de ingreso</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="muestra.fecha_ingreso" required>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

        </div>

        <br>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Ubicación</mat-label>

                <mat-select [(ngModel)]="muestra.id_ubicacion" placeholder="Ubicacion" required>

                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id_ubicacion">
                        {{ubicacion.descripcion}}</mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Municipio</mat-label>
                <mat-select [(value)]="muestra.id_municipio" [(ngModel)]="muestra.id_municipio" placeholder="Municipio" required>

                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let municipio of municipios" value="{{municipio.id_municipio}}">
                        {{municipio.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Localización geografica</mat-label>
                <input matInput type="text" [(ngModel)]="muestra.localizacion_geografica" required>
            </mat-form-field>

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Localización geologica</mat-label>
                <input matInput type="text" [(ngModel)]="muestra.localizacion_geologica" required>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Longitud</mat-label>
                <input matInput type="number" [(ngModel)]="muestra.lng" required>
            </mat-form-field>

            <mat-form-field fxFlex="100" fxLayout.xs="column" aria-required="true">
                <mat-label>Latitud</mat-label>
                <input matInput type="number" [(ngModel)]="muestra.lat" required>
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100" aria-required="true">
            <mat-label>Caracteristicas fisicas </mat-label>
            <input matInput type="text" required [(ngModel)]="muestra.caracteristicas_fisicas">
        </mat-form-field>

        <br>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="20px" fxFlex="70">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" (click)="guardar()">
                        <mat-icon>edit</mat-icon>
                        {{( muestra.id_muestra)? 'Actualizar' : 'Crear'}}
                    </button>

                    <button mat-raised-button color="warn" *ngIf="muestra.id_muestra" (click)="borrar()">
                        <mat-icon>remove</mat-icon>
                        Borrar
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxFlex="30">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="justify-content: flex-end">
                    <button mat-button color="warn" (click)="regresar()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>