<!-- page load -->
<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column" >
        <h1 style="margin: 0;"> Prestamo muestra : {{muestra.nombre}}</h1>
        <hr>
        <!-- image -->
        <div style="text-align: center;">
            <img [src]="fotos[0] | imagen" style="height: 20rem; width:20rem;">
        </div>
        <br>
        <div class="container">
            <!-- features -->
            <div class="row">
                <div class="col">
                    <strong>Tipo de roca: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.tipo_muestra}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Clasificación: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.clasificacion}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Composición: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.composicion}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Formacion: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.formacion}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Color: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.color}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Textura: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.textura}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Ubicación: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.ubicacion}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div fxFlex="50" fxLayout="column">
        <!-- forms load -->
        <h1 style="margin: 0;">&nbsp;</h1>
        <hr>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" *ngIf="disponible">
            <mat-form-field fxFlex="100" aria-required="true">
                <mat-label>Fecha de solicitud prestamo</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="prestamo.fecha_prestamo" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>

        <br>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="20px" fxFlex="70" >
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" *ngIf="disponible">
                    <button mat-raised-button color="primary" (click)="perdirPrestamo()">
                        <mat-icon>archive</mat-icon>
                        {{( disponible)? 'Solicitar prestamo' : 'Reservar prestamo'}}
                    </button>
        
                    
                </div>
            </div>
            <div fxLayout="column" fxFlex="30">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="justify-content: flex-end">
                    <button mat-raised-button color="warn" (click)="regresar()">Regresar</button>
                </div>    
            </div>
        </div>

        <br>
        <!-- message borrowed sample -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" *ngIf="!disponible">
            <h2>*{{muestra.nombre}} en este momento NO se encuentra disponible.</h2>
        </div>
        
    </div>

</div>