@import '~@angular/material/theming';

@include mat-core();


// GAMA COLORES
$my-primary-color: (
  100 : #43a047,
  500 : #2e7d32,
  700 : #1b5e20,
  contrast: (
    100 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-accent-color: (
  100 : #ffffff,
  500 : #ffffff,
  700 : #ffffff,
  contrast: (
    100 : #000000,
    500 : #ffffff,
    700 : #ffffff,
  )
);

$my-warn-color: (
  100 : #ef9a9a,
  500 : #e96562,
  700 : #e44e4c,
  contrast: (
    100 : #000000,
    500 : #000000,
    700 : #000000,
  )
);

// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);

// TEMA PROPIO
$my-theme: mat-light-theme((
 color: (
   primary: $my-palette-primary,
   accent: $my-palette-accent,
   warn: $my-palette-warn
 )
));

// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);


