<mat-card>
    <div style="text-align: center;">
            <mat-card-title>{{muestra.nombre}}</mat-card-title>
    </div>
    <img mat-card-image [src]="fotos[0] | imagen" style="padding: 5%;">
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col">
                    <strong>Tipo de roca: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.id_tipo_muestra}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Mineralogia: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.mineralogia}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Caracteristicas Fisicas: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.caracteristicas_fisicas}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Formacion: </strong>
                </div>
                <div class="col">
                    <p>
                        {{muestra.formacion}}
                    </p>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
                [routerLink]="['/muestra/',muestra.id_muestra]"
                color="accent">Ver más</button>
        <button mat-button
                [routerLink]="['/muestra/editar/',muestra.id_muestra]"
                color="warn"
                *ngIf="verificarRolAdmin()">Editar</button>
    </mat-card-actions>
</mat-card>