<!-- Card of rocks samples -->
<mat-card style="background-color: #66b93d48;">
    <div style="text-align: center;">
        <!-- Name -->
        <mat-card-title>{{muestra.nombre}}</mat-card-title>
    </div>
    <!-- Image -->
    <div style="text-align: center;">
        <img [src]="fotos[0] | imagen" class="ImagenCard">
    </div>

    <mat-card-content>
        <div class="container">
            <div class="row">
                <!-- Type -->
                <strong>Tipo de roca: </strong>

                <p>
                    {{muestra.tipo_muestra}}
                </p>

            </div>
            <div class="row">
                <!-- composition -->
                <strong>Composición: </strong>

                <p>
                    {{muestra.composicion}}
                </p>

            </div>
            <div class="row">
                <!-- classification -->
                <strong>Clasificación: </strong>

                <p>
                    {{muestra.clasificacion}}
                </p>

            </div>
            <div class="row">
                <!-- Formation -->
                <strong>Formación: </strong>

                <p>
                    {{muestra.formacion}}
                </p>

            </div>
        </div>
    </mat-card-content>
    <!-- Buttons -->
    <mat-card-actions style="text-align: center;">
        <button mat-raised-button [routerLink]="['/muestra/',muestra.id_muestra]" color="primary">Ver más</button>
        <button mat-button [routerLink]="['/muestra/editar/',muestra.id_muestra]" color="warn"
            *ngIf="verificarRolAdmin()">Editar</button>
    </mat-card-actions>
</mat-card>