mat-option {
    height: fit-content;
}
img {
    float: left;
    width: 100%;
}

mat-form-field {
    width: 100%;
    padding-bottom: 0;
}

.letra {
    font-size: 2vh;
    height: 3vh;
}

mat-autocomplete-panel {
    height: fit-content;
}

:host ::ng-deep .mat-form-field-underline {
    background-color: white !important; 
}  

:host ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
}