<!-- photo card -->
<mat-card class="tarjeta">
    <mat-card-content>
        <div class="containerImagen">
            <div style="text-align: center;">
                <img [src]="Foto | imagen" class="ImagenCard">
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <button mat-raised-button
                color="warn"
                (click)="EliminarFoto()"><mat-icon>delete_forever</mat-icon>Eliminar</button>
    </mat-card-actions>
</mat-card>