<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="20px" fxFlex="100">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <h1>Listado de prestamos</h1>
        </div>
    </div>

</div>

<hr>
<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div *ngFor="let muestra of muestras" fxFlex.lg="15" fxFlex.sm="30" fxFlex.md="20">
        <app-muestra-tarjeta-component [muestra]="muestra"></app-muestra-tarjeta-component>
    </div>

</div> -->