<mat-grid-list cols="1" *ngIf="!muestra; else divMuestra">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divMuestra>
    <div fxLayout="row"
         fxFlex.gt-xs="column"
         fxLayoutGap="30px">
        <div fxFlex="50">
            <h1>{{muestra.superhero}}</h1>
            <hr>
            <br>
            <img [src]="muestra | imagen">
        </div>
        <div fxFlex="50">
            <h1>{{muestra.publisher}}</h1>
            <hr>
            <mat-list>
                <mat-list-item>{{muestra.first_appearance}}</mat-list-item>
                <mat-list-item>{{muestra.characters}}</mat-list-item>
                <mat-list-item>{{muestra.publisher}}</mat-list-item>
                <mat-list-item>{{muestra.alter_ego}}</mat-list-item>
            </mat-list>
            <br>
            <button mat-button color="warn" (click)="regresar()">Regresar</button>
        </div>    
    </div>
</ng-template>