mat-card {
    margin-top: 3vh;
}

.noDesbordar {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
}

.ImagenCard{
    padding: 5%;
    height: 10rem;
    width: 10rem;
    margin: 0;
}