<!-- Pills content -->
<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
  <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="correo">Correo</label>
      <input type="email" formControlName="correo" id="correo" class="form-control">
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password">Contraseña</label>
      <input type="password" formControlName="password" id="password" class="form-control">
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="miFormulario.invalid">Iniciar
        sesión</button>
    </div>
    <!-- Submit button -->


    <!-- Register buttons -->
    <div class="text-center">
      <p>¿No estás registrado? <a routerLink="/auth/register">Regístrate</a></p>
    </div>
  </form>
</div>